<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <title>Pizzeria</title>
    
    
    <style>
		
		img{
		  height: 350px; 
		  object-fit: cover; 
		}
		
	</style>
</head>
<body>
	<header class="bg-dark">
		<footer class="container">
			<section class="pt-3 pb-3 row">
				<div class="col-3 d-flex align-items-center">
					<h3 class="p-0 m-0 text-white">La migliore pizza</h3>
				</div>
			</section>
		</footer>
	</header>
	
	<main class="bg-light vh-100">
		<a class="btn btn-primary ms-2" th:href="@{/dashboard/categories/create}" role="button">+</a>
		<table class="table">
		    <thead>
		        <tr>
		            <th>ID</th>
		            <th>Name</th>
		            <th>Action</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="category : ${categories}">
		            <td th:text="${category.id}">Category ID</td>
		            <td th:text="${category.name}">Category Name</td>
		            <td>
						<a class="btn btn-success btn-sm" th:href="@{/dashboard/categories/{id}(id=${category.id})}">guarda</a>
						<a class="btn btn-success btn-sm" th:href="@{/dashboard/categories/edit/{id}(id=${category.id})}">modifica</a>
						<form class="d-inline" id="pizza-form" th:action="@{/dashboard/categories/delete/{id}(id=${category.id})}" method="post">
							 <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
						</form>
					</td>
		        </tr>
		    </tbody>
		</table>
	</main>
     
</body>
</html>